<form method="post" action="login">
<label for="username">Name: </label>
<input type="text" name="username"><br>
<label for="sex">Sex: </label>
<input type="radio" name="sex" value="Man"> Man
<input type="radio" name="sex" value="Woman"> Woman<br>
<input type="submit" value="Send data!">
</form>